.pio/
.pioenvs/
.piolibdeps/
.platformio/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/*.code-workspace
__pycache__/
*.pyc
*.pyo
*.pyd
*.bak
*.orig
*.bin
*.elf
*.map
.DS_Store
Thumbs.db
compile_commands.json

# Backend
backend/.env
backend/*.db
backend/__pycache__/
backend/app/**/__pycache__/
.venv/

# Frontend
frontend/.env
frontend/node_modules/
frontend/dist/

# Database
*.db
*.db-shm
*.db-wal

AGENTS.md

